.data-table-component {
    /* border: 1px solid black; */
}

.data-table_table {
    margin: 0 auto;
}

.data-table_row {
    border: 1px solid salmon;
}

.data-table_header {
    border: 1px solid royalblue;
}

.data-table_cell {
    background-color: cadetblue;
}

.data-table_header,
.data-table_cell {
    padding: 10px 15px;
}