@import url('https://fonts.googleapis.com/css?family=Cabin:400,600');

* {
  font-family: Cabin;
}

body {
  margin: 0;
}

.title {
  text-align: center;
  font-size: 50px;
}

.edit-box {
  text-align: center;
}

.edit {
  background-color: silver;
}